.video-container {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure slide takes full width */
  height: 100%; /* Ensure slide takes full height */
}

.slider-image {
  width: 100%; /* Ensure image fills the slide width */
  height: 100%; /* Ensure image fills the slide height */
  object-fit: cover; /* Ensure the image covers the entire slide */
}

/* Ensure the overlay text stays centered and responsive */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  border-radius: 8px; /* Rounded corners for the background box */
  padding: 20px;
  width: 80%; /* Adjust width for text */
}

.overlay-text h1 {
  font-size: 2.2rem;
  text-shadow: 5px 5px black;
  margin: 0; /* Remove default margin */
}

.overlay-text p {
  font-size: 1.4rem;
  margin: 0;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .video-container {
    height: 80vh; /* Adjust height for medium screens */
  }

  .overlay-text {
    padding: 10px;
  }

  .overlay-text h1 {
    font-size: 2rem;
  }
  
  .overlay-text p {
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  .video-container {
    height: 70vh; /* Adjust height for smaller screens */
  }

  .overlay-text h1 {
    font-size: 1.8rem;
  }
  
  .overlay-text p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .video-container {
    height: 60vh; /* Adjust height for mobile screens */
  }

  .overlay-text h1 {
    font-size: 1.5rem;
    margin-top: 4rem;
  }
  
  .overlay-text p {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .video-container {
    height: 35vh; /* Further reduce height for very small screens */
  }

  .overlay-text h1 {
    font-size: 1.25rem;
  }
  
  .overlay-text p {
    font-size: 0.75rem;
  }
}
