/* HeroSection.css */
.carousel-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel .slide {
  background: none;
}

.carousel .slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
  width: 90%;
  box-sizing: border-box;
}

.overlay h1 {
  margin: 0;
  font-size: 2.2em;
}

.overlay p {
  margin: 10px 0 0;
  font-size: 1.2em;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
  .carousel .slide img {
    height: auto;
  }
  .carousel-container {
    height: 30vh;
  }
  .overlay {
    width: 90%;
    padding: 10px;
    font-size: 0.8em;
  }
  .overlay h1 {
    font-size: 1em;
  }
  .overlay p {
    font-size: 0.7em;
  }
}
