/* Styles for nav links */
.navbar-nav .nav-link {
  font-weight: 400;
  color: black;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:focus, 
.navbar-nav .nav-link:active, 
.navbar-nav .nav-link.active {
  color: #ff6600; /* Change this to your preferred color */
}

/* Remove custom toggler button styles and revert to default Bootstrap */
.custom-toggler {
  font-size: 1.7rem;
  border: none; /* Keep this to remove the border */
}

/* Logo text in the navbar */
.navbar-logo-text {
  display: grid;
  background-color: #b5af15;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh2NorYOKhrPtNb02IFwlg9_Zl-nsoSGkmgw&s");
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 23px;
  transition: color 0.3s ease;
}

.navbar-logo-mini {
  text-align: start;
  font-size: 13px;
  margin-left: 0.1rem;
  margin-top: -0.5rem;
  font-family: "sans-serif", cursive;
  font-weight: 700;
}

/* Responsive styles for screen sizes smaller than 992px */
@media (max-width: 992px) {

  .logo {
    width: 45px; /* Smaller size */
    height: 45px; /* Smaller size */
  }

  .navbar-logo-text {
    display: grid;
    background-color: #b5af15;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh2NorYOKhrPtNb02IFwlg9_Zl-nsoSGkmgw&s");
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition: color 0.3s ease;
  }
  
  .navbar-logo-mini {
    text-align: start;
    font-size: 10px;
    margin-left: 0.1rem;
    margin-top: -0.5rem;
    font-family: "sans-serif", cursive;
    font-weight: 700;
  }
  

  .navbar-nav .nav-link {
    font-weight: 400;
    color: black;
    transition: color 0.3s ease;
  }

  /* Revert the toggler to default Bootstrap without custom effects */
  .navbar-toggler {
    margin-left: 1rem;
    transition: all 0.3s ease; /* Add smooth transition */
  }

  .navbar-collapse {
    margin-top: 10px;
    transition: all 0.3s ease; /* Smooth transition for collapse */
  }

  /* Adjustments for custom navbar */
  .custom-navbar .container {
    padding: 10px;
    margin: 0;
  }

  .custom-navbar {
    padding: 0;
  }

  .navbar-logo-text {
    font-size: 15px;
  }

  /* Adjust logo text size on small screens */
  .navbar-logo-text {
    font-size: 1.3rem;
  }

  /* Remove extra padding and margin */
  .custom-navbar .container {
    padding: 0;
  }

  .navbar-nav {
    padding: 0;
  }

  /* Padding for nav links */
  .navbar-nav .nav-link {
    padding: 0px 5px 5px 15px;
  }

  .navbar-collapse {
    padding: 0;
  }
}
