.pricing-section {
  text-align: center;
  padding: 20px;
}

.section-heading {
  font-size: 2.5rem;
  text-align: left;
  color: #333;
  position: relative;
  display: inline-block;
  /* width: 27%; */
  /* border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #AE8625, #F7EF8A,#D2AC47,#EDC967);
  border-image-slice: 1; */
  text-shadow: 2px 1px #b7c8aad1;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #fff;
}

.circle-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e74c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.circle-title {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Hover Effects */
.inner-circle:hover .circle-image {
  transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .circle-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .inner-circle {
    width: 150px;
    height: 150px;
  }

  .circle-title {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .section-heading {
    font-size: 1.3rem;
    text-align: left;
    color: #333;
    position: relative;
    display: inline-block;
    /* width: 57%; */
    /* border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #AE8625, #F7EF8A,#D2AC47,#EDC967);
    border-image-slice: 1; */
    text-shadow: 2px 1px #b7c8aad1;
  }

  .circle-container {
    justify-content: space-around; /* Ensure two items per row */
    gap: 20px;
  }

  .circle-item {
    width: calc(50% - 20px); /* Two circles per row with gap */
  }

  .inner-circle {
    width: 120px;
    height: 120px;
  }

  .circle-title {
    font-size: 14px;
  }
}
