.parent{
  background-color: #f4f4f9;
padding-top: 2rem ;
padding-bottom: 2rem;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;


}

.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  position: relative;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}

.product-card.hovered {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
}

.product-image {
  width: 100%;
  height: auto;
  transition: all .4s linear 0s;
}

.view-more-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: purple;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  display: none;
}

.product-card:hover .view-more-btn {
  display: block;
}

.add-to-cart {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.product-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* Two products per row on smaller screens */
  }
  .view-more-btn{
    display: none;
  }
}

/* Media query for very small screens (mobile) */
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* Keep two products per row on mobile */
  }
  .view-more-btn{
    display: none;
  }
}
