/* src/styles/ServicesSection.css */

.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 20px;
  box-sizing: border-box;
}

.service-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
  max-width: 100%;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.service-card h2 {
  margin-top: 20px;
  font-size: 1.2rem;
}

.service-card p {
  color: #666;
  font-size: 0.9rem;
}

.service-text h1 {
  text-align: center;
  text-shadow: 2px 1px #b7c8aad1;
}

@media (max-width: 768px) {
  .service-card {
    width: auto;
    height: 140px;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
  }
}

@media (max-width: 480px) {
  .service-card h2 {
    font-size: 1rem;
    margin-top: 0;
  }

  .inner-card {
    padding: 0;
    margin: 0;
    text-align: start;
  }

  .service-card img {
    height: 80px;
    width: 80px;
  }

  .service-card p {
    font-size: 0.6rem;
  }

  .service-text {
    padding: 0;
    margin-bottom: -4rem;
  }

  .services-section{
    padding: 50px 0;
  }
}