.testimonials-section {
  padding: 40px;
  text-align: center;
  background-color: #fff;
}

.testimonial-card {
  background: #fff;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
  margin: 20px auto;
  max-width: 300px;
  /* Adjust width as per your design */
}

.testimonial-card img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-card p {
  color: #666;
  margin-bottom: 10px;
}

.testimonial-card h3 {
  color: #333;
  font-size: 1.2rem;
  margin-top: 10px;
}

.slick-dots li button:before {
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #000;
}

.testimonials-text h1 {
  margin: 1rem auto;
  width: 17%;
  /* border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #AE8625, #F7EF8A, #D2AC47, #EDC967);
  border-image-slice: 1; */
  text-shadow: 2px 1px #b7c8aad1;
}

@media (max-width: 768px) {
  .testimonial-card {
    max-width: 250px;
    /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .testimonials-text h1 {
    font-size: 1.3rem;
    margin: 1rem auto;
    width: 38%;
    /* border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #AE8625, #F7EF8A,#D2AC47,#EDC967);
    border-image-slice: 1; */
    text-shadow: 2px 1px #b7c8aad1;
  }

}